{% extends 'base.html' %}  {% load mymarkdown %} {% block title %}{{article.title}}{% endblock %} 

{% block head %} <link rel="amphtml" href="{% url 'blogs:amp' article.id %}"/> {% endblock %}
{% block body %}
<div class="ui text container">
    <div class="ui basic segment" id="segment">
        <!--<div class="ui right rail">
            <div class="ui sticky">
                右侧Rail内容
            </div>
        </div>-->
        <h1>{{article.title}}</h1>
        <h4>
            by 
            <a href="{% url 'blogs:user_article' article.author %}">{{article.author}}</a>
            edited on {{ article.edit_date|date:"d M" }}
        </h4>
        <p>{{article.content | mymarkdown }}</p>
        <form id="delete" action="{% url 'blogs:delete' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="pk" value="{{article.id}}">
        </form>
        <div class="ui hidden divider"></div>
        <div class="ui simple blue dropdown button">操作
            <div class="menu">
                {% if isAuthor %}
                <a class="item" href="{% url 'blogs:editview' article.id %}">
                    <i class="blue edit icon"></i>修改文章
                </a>
                <div class="item" type="submit" onclick="document.getElementById('delete').submit();">
                    <i class="red delete icon"></i>删除文章
                </div>
                {% endif %}
                <a class="item" href="{% url 'blogs:feed' article.author %}">
                    <i class="yellow feed icon"></i>RSS订阅该作者
                </a>
                <div class="item">
                    <i class="share icon"></i>
                    <i class="dropdown icon"></i>
                    <span class="text">分享文章到</span>
                    <div class="right menu">
                        <div class="item"><i class="red weibo icon"></i>微博</div>
                        <div class="item"><i class="green wechat icon"></i>微信</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui minimal comments">
            <h3 class="ui dividing header">评论</h3>
            {% for comment in comments %}
            <div class="comment">
                <a class="avatar">
                    <img src="/static/avatar/{% if comment.user.myuser.avatar.url %}{{ comment.user.myuser.avatar.url }}{% else %}user.png{% endif %}">
                </a>
                <div class="content">
                    <a class="author">{{comment.user}}</a>
                    <div class="metadata">
                        <span class="date">{{comment.pub_date}}</span>
                    </div>
                    <div class="text">
                        {{comment.content | linebreaks}}
                    </div>
                    <div class="actions">
                        <a class="reply">回复</a>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    
        <form class="ui reply form" action="{% url 'blogs:comment' %}" method="post">
                {% csrf_token %}
            <input type="hidden" name="pk" value="{{article.id}}">
            <input type="hidden" name="user" value="{{article.author}}">
            <div class="field">
            <textarea name="content" required="required" ></textarea>
            </div>
                <input  class="ui blue submit button" type="submit" value="Submit" />
        </form>
    </div>
</div>
<!--<script>
$('.ui.sticky')
  .sticky({
    context: '#segment'
  })
;
</script>-->
{% endblock %}
