{% extends 'base.html' %} {% block title %}Edit{% endblock %} {% block body %}
<div class="ui text container ">
    <form class="ui form" action="{% url 'blogs:edit' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="pk" value="{{article.id}}">
        <div class="field">
            <input type="text" name="title" placeholder="请输入标题" value="{{article.title}}">
        </div>
        <div class="field">
            <textarea rows="10" name="content" placeholder="请输入正文">{{ article.content }}</textarea>
        </div>
        <input  class="ui submit button" type="submit" value="submit" />
    </form>
</div>
{% endblock %}
