{% extends 'base.html' %} {% load mymarkdown %} {% block title %}Blog{% endblock %} {% block body %}
<div class="ui text container ">
{% for article in articles %}

    <div class="ui fluid card">
        <a class="content" href="{%url 'blogs:detail' article.id%}">
            <div class="header">
                {{ article.title }}
            </div>
            <div class="description">
                {{ article.content | mymarkdown |  truncatechars_html:200 |striptags}}
            </div>
        </a>
        <div class="extra content">
            <span class="views">
                {{ article.views }}
                阅读
            </span>
            <span class="comment">
                {{ article.reply_count }}
                回复
            </span>
            <a class="right floated author"  href="{% url 'blogs:user_article' article.author %}">
                <img class="ui avatar image" src="/static/avatar/{% if article.author.myuser.avatar.url %}{{ article.author.myuser.avatar.url }}{% else %}user.png{% endif %}"> {{ article.author }}
            </a>
        </div>
    </div>

{%endfor%}
</div>
{% endblock %}
