{% extends 'base.html' %} {% block title %}Blog{% endblock %} {% block body %}
<div class="ui text container ">
    <form id="login" class="ui form segment" method="post" action="{% url 'blogs:login' %}">
        {% csrf_token %}
        <div class="field">
            <label>用户名</label>
            <input placeholder="Username" type="text" name="username">
        </div>
        <div class="field">
            <label>密码</label>
            <input type="password" name="password">
        </div>
        <div class="ui two column stackable center aligned grid segment">
            <div class="column">
                <div class="ui button" onclick="document.getElementById('login').submit();">登录</div>
            </div>
            <div class="ui vertical divider">or</div>
            <div class="column">
                <a class="teal ui button" href="{% url 'blogs:register' %}">注册</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
