<!DOCTYPE HTML>
<html>

<head>
    <title>
        {% block title %} Blog | A blog site {% endblock %}
    </title>
    <link href="https://cdn.bootcss.com/semantic-ui/2.2.6/semantic.min.css" rel="stylesheet">
    <style>
    body {
        overflow-y: scroll;
    }
    </style>
</head>

<body>
    <div class="ui borderless menu">
        <div class="ui container">
            <a class="{% if isHome %}active{% endif %} item" href="/blogs/">
                <i class="home icon"></i> Home
            </a>
            <a class="{%if isCategory%}active{%endif%} item" href="/blogs/category">
                <i class="content icon"></i> Category
            </a>
            <div class="right menu">
                <div class="item">
                    <a class="ui button" href="/blogs/create">Create</a>
                </div>
                <div class="item">
                    <div class="ui transparent icon input">
                        <form action="/blogs/search" method="get">
                            <input type="text" placeholder="搜索..." name="keyword">
                            <i class="search link icon"></i>
                        </form>
                    </div>
                </div>
                {% if isLogin %}
                <div class="item">
                    <a class="ui button" href="/blogs/logout">注销</a>
                </div>
                {% else %}
                <div class="item">
                    <a class="ui button" href="/blogs/login">登录</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% block body %} {% endblock %}
    <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/semantic-ui/2.2.6/semantic.min.js">
    </script>
    <script>
    // $('.ui.modal')
    //     .modal();
    </script>
</body>

</html>
