<!DOCTYPE HTML>
<html>

<head>
    <title>
        shorturl
    </title>
    <link href="https://cdn.bootcss.com/semantic-ui/2.2.6/semantic.min.css" rel="stylesheet">
    <style>
    body {
        overflow-y: scroll;
    }
    
    .ui.inverted.segment {
        height: inherit;
    }
    </style>
</head>

<body>
    <div class="ui center aligned inverted vertical segment">
        <div class="ui page grid">
            <div class="column">
                <h2 class="ui inverted header">shorten url</h2>
                <form action="/shorten" method="post">
                    <div class="ui labeled action input">
                        <div class="ui label">http://</div>
                        <input name="url" type="text" placeholder="www.example.com">
                        <div class="ui teal button" type="submit">shorten >></div>
                    </div>
                </form>
                {%if url %}{{url}}{%endif%}
            </div>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/semantic-ui/2.2.6/semantic.min.js"></script>
    <script>
    // $('.ui.modal')
    //     .modal();
    </script>
</body>

</html>
